
/* STYLE SECTIONING TAGS */
body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: #001F54;
  background-color: #ffffff; 
  margin: 0;
  padding: 0;
}

header {
  color: #001F54;
  background-color: #F4C3C2;
  padding: 20px;
}

/* STYLE TEXT */
p {
  color: #001F54;
  margin: 20px;
}

img {
  width: 200px;
  height: auto;
  border-radius: 15%;
  margin: 20px;
  display: inline-block;
}
#letter{
  width:400px;
  height:auto;
  border-radius: 15%;
  margin: 20px;
  display: inline-block;
}
h1, h3 {
  color: black;
  margin: 0;
}

/* STYLE NAV BAR */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav a {
  color: #001F54;
  text-decoration: none;
}

nav a:hover {
  color: #F4C3C2;
}
nav{
  color: #ffc0cb;
}
#ser{
 margin: 10px;
  padding: 10px;
}
